.titre {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }  
  
  .connexion {
    background-color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .enregistrer {
    background-color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .head {
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
  }

  

  .postits {
    width: 200px;
    margin-bottom: 20px; 
    padding: 10px;
    background-color: #ffd700;
    border: 3px solid #ffd700;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  .postits {
    width: 200px;
    margin-top: 20%;
    padding: 10%;
    background-color: #ffd700;
    box-shadow: white;
    text-align: center;
  }

  .ajouter {
   
    max-width: 300px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .ajouter:hover {
    background-color: #0056b3;
  }

  .add {
    text-align: center;
  }
  